# Module assemblies
**/Assemblies/*.dll

# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio cache, packages
.vs/
**/packages/*

# Temporary debug files
.debug.*.ps1

# Ignore internal integration tests
/Adb/Tests/Integration/**
